* {
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 200vh;
    background-color: #222222;
    color: white;
}

.button-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    background-color: #f5f5f5;
    border: 1px solid #222;
}

button:hover {
    background-color: #888;
}

.icon {
    height: 48px;
    width: 48px;
}

a {
    color: yellow;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 255, 0, 0.5);
}

nav {
    /* background */
    -webkit-backdrop-filter: blur(13px);
    backdrop-filter: blur(13px);

    /* position */
    position: fixed;
    text-align: center;
    margin: -2% 0 0 0;
    padding: 3% 0 2% 0;
    /* top right bottom left */
    width: 100%;
}

nav a {
    /* font */
    font-size: 150%;
    text-decoration: none;

    /* space */
    margin: 0 2% 0 2%;
}

nav ul {
    padding: 0;
    list-style-type: none;
}

section {
    /* position */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6% 0 0 0;
}

section h1 {
    font-size: 300%;
    text-align: center;
    width: 100%;
}

/* hamburger */
#hamburger-nav {
    /* flex and left */
    position: fixed;
    top: 0;
    transform: translate(100%, 0);
    transition: transform 0.3s ease-in-out;
}

#hamburger-nav.active {
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
}

#hamburger-nav ul li {
    margin: 12px;
}

/* toast */
#toast-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.toast {
    padding: 1rem;
    margin: 1rem;
    background-color: white;
    color: black;
    border-radius: 6px;
}

#text-ticker {
    height: 13vh;   /* prevent entire page buckling when ticker is empty */
}

/* popup */
#popup-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(0, 0, 0, 0.5);
    display: none;
}

#popup-container.active {
    display: block;
}

.popup-content {
    background-color: white;
    color: black;
    padding: 2rem;
    width: 333px;
    border-radius: 6px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}

/* image-ticker */
#image-ticker {
    height: 13vh;   /* prevent entire page buckling when ticker is empty */
}

#inline-image-ticker {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 33%;
}
